* {
  box-sizing: border-box;
}

#wrapper {
  width: 62vw;
  height: 90vh;
  margin: 60px auto;
  background-color: lightgrey;
}

body {
  background-color: rgb(37, 37, 37);
}

#header-wrapper {
    position: sticky;
    width:50vw;
    margin: 0 auto;
    padding-top: 50px;
}
#column-wrapper {
    width:50vw;
    margin: 0 auto;
    padding-top: 30px;
    background-color: white;
}
#paragraph-wrapper {
    width:50vw;
    margin: 0 auto;
    padding-top: 30px;
    background-color: white;
}

.header {
  float: left;
  width: 33.33%;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  height: 8vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 6vh;
}



#header::after {
  content: "";
  display: table;
  clear: both;
}

.column-header {
  float: left;
  width: 33.33%;
  padding-left: 30px;
  text-align: left;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#column-header::after {
  content: "";
  display: table;
  clear: both;
}

.column-paragraph {
  float: left;
  width: 33.33%;
  height: 50vh;
  padding-left: 30px;
  padding-right: 20px;
  text-align: left;
  font-family: Arial;
  font-size: 20.5px;
  padding-right: 40px;
  
}

#column-paragraph::after {
  content: "";
  display: table;
  clear: both;
  
}

#footer {
    width: 50vw;
    margin: 0 auto;
    height: 12vh;
    background-color: black;
}

.footer {
    color: white;
    text-align: center;
    padding: 6vh 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}